* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #001303, #a6d0a4);
  font-family: Arial, sans-serif;
}

#paper-root {
  border-radius: 1rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 350px;
  height: 58vh;
  /* background-image: url('../../assets/fondoInicio.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  background-color: rgb(238, 241, 238);
  border-radius: 1rem;
}

.login-box {
  margin-top: 2rem;
  padding: 2rem;
  /* border-radius: 2rem; */
  text-align: center;
  width: 95%;
  height: 100%;
}

.logo {
  width: 100px;
  filter: brightness(0.9) contrast(1.1) saturate(1.3)
    drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.7));
}

h2 {
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

input[type="email"],
input[type="password"] {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background: #ffffff;
  width: 80%;
}

button {
  padding: 0.5rem;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  background: #3b6b3b;
  color: #ffffff;
  font-weight: bold;
  width: 50%;
}

button[type="button"] {
  background: #587f58;
}

button:hover {
  opacity: 0.9;
  filter: brightness(130%);
}

.forgot-password {
  color: #000000;
  font-size: 0.9rem;
  text-decoration: none;
}

.forgot-password:hover {
  color: #5f7c3e;
  font-size: 0.9rem;
  text-decoration: underline;
}

#footer {
  padding: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  height: 17%;
  width: 100%;
  border-radius: 0 0 0.9rem 0.9rem;
  background-color: #014e28;
  color: #e0e0e0;
}
